<configuration>
  <components>
    
    <component
      id="KenticoLocalizationContext"
      service="UCommerce.Kentico.Globalization.IKenticoLocalizationContext, UCommerce.Kentico"
      type="UCommerce.Kentico11.Globalization.KenticoLocalizationContext, UCommerce.Kentico11" />

    <component
      id="KenticoCultureInfoProvider"
      service="UCommerce.Kentico.Globalization.IKenticoLocalizationContext, UCommerce.Kentico"
      type="UCommerce.Kentico11.Globalization.KenticoCultureInfoProvider, UCommerce.Kentico11" />

    <!-- Globalization -->
    <component
      id="LanguageService"
      service="UCommerce.Infrastructure.Globalization.ILanguageService, UCommerce.Infrastructure"
      type="UCommerce.Kentico11.Globalization.LanguageService, UCommerce.Kentico11" />

    <component
      id="KenticoServiceProvider"
      service="UCommerce.Kentico.Infrastructure.IKenticoServiceProvider, UCommerce.Kentico"
      type="UCommerce.Kentico11.Infrastructure.KenticoServiceProvider, UCommerce.Kentico11" />
  

  </components>
</configuration>
