<configuration>
  <components>
    
    <component 
      id="KenticoLocalizationContext"
      service="UCommerce.Kentico.Globalization.IKenticoLocalizationContext, UCommerce.Kentico"
      type="UCommerce.Kentico12.Globalization.KenticoLocalizationContext, UCommerce.Kentico12" />

    <component
      id="KenticoCultureInfoProvider"
      service="UCommerce.Kentico.Globalization.IKenticoLocalizationContext, UCommerce.Kentico"
      type="UCommerce.Kentico12.Globalization.KenticoCultureInfoProvider, UCommerce.Kentico12" />

    <!-- Globalization -->
    <component 
      id="LanguageService"
      service="UCommerce.Infrastructure.Globalization.ILanguageService, UCommerce.Infrastructure"
      type="UCommerce.Kentico12.Globalization.LanguageService, UCommerce.Kentico12" />
    
    <component
      id="KenticoServiceProvider"
      service="UCommerce.Kentico.Infrastructure.IKenticoServiceProvider, UCommerce.Kentico"
      type="UCommerce.Kentico12.Infrastructure.KenticoServiceProvider, UCommerce.Kentico12" />
            
  </components>
</configuration>
