<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer>
		<modules>
			<add xdt:Transform="Insert" name="UcommerceInstallationModule" type="Ucommerce.Kentico.Installer.App_Start.Installer, Ucommerce.Kentico.Installer" />
		</modules>
	</system.webServer>
</configuration>
